<div
  class="relative before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10 grid justify-items-center">
  <img src="https://readymadeui.com/cardImg.webp" alt="Banner Image"
    class="absolute inset-0 w-full h-full object-cover" />


  <div class="relative z-50 h-full max-w-6xl mx-auto flex flex-col text-white p-6">

        <h2 class="border-2 border-rose-500 text-4xl mb-6">NOSSA MISSÃO</h2>

    <div class="border-2 border-rose-500 flex justify-end">
        <p class="w-8/12">A WebDesign é uma empresa que tem como missão criar
          experiências
          incríveis na internet. Nós projetamos e desenvolvemos sites e aplicativos que sejam atraentes, intuitivos e
          responsivos. Nós buscamos sempre atender as necessidades e os desejos dos nossos clientes, e entregar resultados
          que gerem valor e impacto positivo.</p>
    </div>
  </div>
</div>