<header class='border-b font-[sans-serif]'>
  <div class='flex flex-wrap items-center px-24 py-8 relative bg-white min-h-[60px]'>
    <a href='javascript:void(0)' class='hidden max-lg:block'><img src="https://readymadeui.com/readymadeui.svg"
        alt="logo" class='w-36' /></a>
        
    <div class='flex ml-auto lg:order-1 lg:hidden'>
      <button id="toggle" class='ml-7'>
        <svg class="w-7 h-7" fill="#000" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    
  
    
      <div id="collapseMenu" class="lg:!flex lg:items-center w-full max-lg:hidden max-lg:py-4">
        
        <ul class='lg:flex lg:space-x-8 max-lg:space-y-2'>
          <li class='max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#007bff] block text-[15px]'>Home</a></li>
          <li class='max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Quem somos</a></li>
          <li class='max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Serviços</a></li>
          <li class='text-[15px] max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Portfólio</a></li>
        </ul>
        <a href='javascript:void(0)' class='m-auto absolute lg:left-2/4 lg:-translate-x-1/2 max-lg:hidden'><img
            src="../../../assets/alpha-logo.png" alt="logo" class='w-36' /></a>
  
        <ul class='lg:flex lg:space-x-8 max-lg:space-y-2 ml-auto'>
          <li class='max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Campanhas</a></li>
          <li class='max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Galeria</a></li>
          <li class='max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Contato</a></li>
          <li class='text-[15px] max-lg:border-b max-lg:py-2'><a href='javascript:void(0)'
              class='hover:text-[#007bff] font-semibold text-[#333] block text-[15px]'>Parceiros</a></li>
        </ul>
      </div>

    

  </div>
</header>