<div class="container w-10/12 mx-auto border-2 border-rose-500 grid grid-cols-3">
    <div class="flex flex-col items-center p-4">
        <h1>
            Uma agência digital com ideias em realidade

        </h1>

        <p>design: crie sites incríveis e funcionais
            Marketing digital: atraia e fidelize clientes online
            E-commerce: venda seus produtos na internet</p>

            <figure>
                <img src="../../../assets/website.jpg" alt="website">
            </figure>
    
            <a> Veja nossos Serviços</a>
    </div>

    <div class="flex items-center">
        <figure>
            <img src="../../../assets/apresentacao.png" alt="apresentação da agência">
        </figure>

    </div>

    <div class="lex flex-col items-center p-4">
        <div>
            <p>
                Focada em desenvolvimento web, essa agência digital prova sua grandeza com projetos envolvendo sites web, e-commerce e mobile.
            </p>

            <img src="../../../assets/projetos.jpg" alt="">

            <a href="#">Veja nosso Portfólio</a>
        </div>

        <div>
            <p>
                parcerias!
                Associar-se às empresas nos proporcionam troca de experiências e conhecimentos, resultando em serviços por excelência.
            </p> 
            <a href="#">Parceiros</a>
        </div>
    </div>
</div>