@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", arial, verdana, sans-serif;
}

h1 {
    font-family: "Cinzel", serif;
}

h2 {
    font-family: "Cinzel", serif;
}